In [32]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
import pickle

# Load the dataset
df = pd.read_csv('car_prediction_data.csv')

# columns_to_drop = ['engine']
# df = df.drop(columns=columns_to_drop)
# df.to_csv('car_prediction_data.csv', index=False)

In [33]:
df.dtypes

city                  object
model                 object
registration_year      int64
ownership             object
price                  int64
km                     int64
fuel_type             object
transmission          object
mileage              float64
max_power            float64
torque               float64
seats                float64
dtype: object

In [34]:
df

,city,model,registration_year,ownership,price,km,fuel_type,transmission,mileage,max_power,torque,seats
0,bangalore,Maruti Celerio,2015,Third Owner,400000,120000,Petrol,Manual,23.10,67.04,90.00,5.0
1,bangalore,Ford Ecosport,2018,Second Owner,811000,32706,Petrol,Manual,17.00,121.31,150.00,5.0
2,bangalore,Tata Tiago,2018,First Owner,585000,11949,Petrol,Manual,23.84,84.00,114.00,5.0
3,bangalore,Hyundai Xcent,2014,First Owner,462000,17794,Petrol,Manual,19.10,81.86,113.75,5.0
4,bangalore,Maruti SX4 S Cross,2015,First Owner,790000,60000,Diesel,Manual,23.65,88.50,200.00,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
7997,delhi,Mahindra Scorpio,2016,First Owner,840000,71000,Diesel,Manual,15.40,120.00,280.00,7.0
7998,delhi,Honda City,2019,First Owner,900000,60000,Petrol,Automatic,18.00,117.60,145.00,5.0
7999,delhi,Kia Sonet,2021,First Owner,950000,20000,Petrol,Manual,18.40,81.86,115.00,5.0
8000,delhi,Hyundai Verna,2011,First Owner,418000,60000,Petrol,Manual,17.01,121.30,154.90,5.0
8001,delhi,Hyundai Creta,2019,First Owner,1195000,38000,Diesel,Manual,20.50,126.20,NaN,5.0

In [35]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import LabelEncoder
import pickle

# Load the CSV file
df = pd.read_csv('car_prediction_data.csv')

# Convert categorical columns to numeric using LabelEncoder or OneHotEncoder
label_encoder = LabelEncoder()

# Encode the 'transmission' column (Manual=0, Automatic=1)
df['transmission'] = df['transmission'].replace({'Manual': 0, 'Automatic': 1})

# Encode other categorical columns like 'car_model', 'city', 'fuel', etc.
df['model'] = label_encoder.fit_transform(df['model'])
df['city'] = label_encoder.fit_transform(df['city'])
df['fuel_type'] = label_encoder.fit_transform(df['fuel_type'])
df['ownership'] = label_encoder.fit_transform(df['ownership'])
# df['engine'] = label_encoder.fit_transform(df['engine'])

# Drop any columns that are not needed (e.g., ID or names if present)
# df = df.drop(['unnecessary_column'], axis=1)

# Split the data into features and target variable
X = df.drop('price', axis=1)  # Assuming 'price' is the target column
y = df['price']

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train model
model = RandomForestRegressor()
model.fit(X_train, y_train)

# Save the trained model
pickle.dump(model, open('car_price_model.pkl', 'wb'))

print("Model training completed and saved!")

/var/folders/jf/t6w9jnc93hn7d69c7kmy6r380000gn/T/ipykernel_34847/125177327.py:14: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['transmission'] = df['transmission'].replace({'Manual': 0, 'Automatic': 1})

Model training completed and saved!